@import "variables";

@mixin box-sizing($box-sizing){
-webkit-transition: $box-sizing;
-moz-transition: $box-sizing;
transition: $box-sizing;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
  box-sizing: border-box;
}
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
}
html {
  // overflow-y: hidden;
  // overflow-x: hidden;
}
body {
  height: 100%;
  font-family: $mark;
  color: $dark-blue;
  background: white;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}
section {
  height: 100%;
  min-height: 100vh;
}

a {
  font-family: $spacemono;
  color: blue;
  text-decoration: none;
}
img {
  width: 100%;
}
h1 {
  font-size: 4.2rem;
  line-height: 1;
  margin-bottom: 1.8rem;
}
h2 {
  font-size: 2.4rem;
  line-height: 1;
}
.st0{fill:#158AFF;}
.st1{fill:#FD7DA1;}
.st2{fill:#06376C;}
.st3{fill:#FFFFFF;}
.footer-0{fill:#888D9D;}
.footer-1{fill:#AAB0C2;}
.footer-2{fill:#444857;}

.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  padding:0 30px;
  z-index: 9;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: white;
  }
  &-logo {
    width: 100px;
  }
  &-menu {
    a {
      position: relative;
      color: $grey;
      padding-left: 50px;
      &.active {
        color: $purple;
        &::before {
          background: $purple;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 18px;
        top: calc(50% - 1px);
        width: 22px;
        height: 1px;
        background: $grey;
      }
    }
    &-icon {
      display: none;
      width: 40px;
      height: 40px
    }
  }
}

.main {
  &-container {
  }
  &-column {
    width: 50vw;
    &.image {
      background: $dark-purple;
      height: 100vh;
      background-image: url('../images/angular.svg');
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .landing {
      height: 100%;
      min-height: 100vh;
      margin: 0 8%;
      &-container {
        padding-top: 4.5rem;
      }
      &-headlines {
      }
      &-info {
        margin-top: 4rem;
        color: $almost-dark-blue;
        text-align: right;
        h3 {
          font-size: 1.5rem;
        }
        span {
          font-family: $spacemono;
          font-size: 1rem;
        }
        .price {
          color: $purple;
          font-weight: bold;
          font-family: 'MarkWebW03';
          span {
            font-family: 'Mark';
            font-size: 1.5rem;
            margin-left: 6px;
            letter-spacing: 0.1rem;
          }
        }
      }
    }
    .course {
      padding: 96px 50px;
      background: $light-grey;
      .day {
        position: relative;
        padding-left: 48px;
        margin-bottom: 72px;
        &::after {
          content: '';
          position: absolute;
          background: white;
          left: 24px;
          top: 0;
          width: 4px;
          height: 100%;
        }
        &:nth-of-type(2) {
          ul::before {
            content: 'Dia 2';
          }
        }
        &:nth-of-type(3) {
          ul::before {
            content: 'Dia 3';
          }
        }
        &:nth-of-type(4) {
          ul::before {
            content: 'Dia 4';
          }
        }
        &:nth-of-type(5) {
          ul::before {
            content: 'Dia 5';
          }
        }
        &:nth-of-type(6) {
          ul::before {
            content: 'Dia 6';
          }
        }
      }
      h2 {
        font-size: 2.6rem;
        color: white;
        margin-bottom: 48px;
      }
      h3 {
        font-size: 1.8rem;
        color: $almost-dark-blue;
      }
    ul {
        position: relative;
        margin-top: 8px;
        font-size: 1.1rem;
        &::before {
          font-family: $spacemono;
          content: 'Dia 1';
          position: absolute;
          transform: rotate(-90deg);
          color: $purple;
          left: -68px;
          top: -30px;
        }
      }
      li {
        list-style: none;
      }
    }
    p {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
  }
}
.further {
  width: 100%;
  min-height: auto;
  margin: 100px 0;
  color: $almost-dark-blue;
  &-column {
    width: 50%;
    &:nth-of-type(2) {
      a {
        color: $red;
      }
    }
  }
  img {
    width: 160px;
  }
  &-text {
    padding-left: 20px;
  }
  h2 {
    font-size: 1.9rem;
    margin-bottom: 4px;
    max-width: 420px;
  }
  a {
    font-size: 0.9rem;
    color: $purple;
    text-decoration: underline;
  }
}
.footer {
  color: white;
  background: $dark-grey;
  padding: 60px 40px;
  &-container {
    width: 100%;
  }
  &-column {
    width: 50%;
  }
  &-logo {
    height: 72px !important;
    margin-right: 32px;
  }
  &-social {
    height: 100%;
    text-align: right;
  }
  a {
    font-size: 1.2rem;
    font-family: $mark;
    color: white;
    margin-bottom: 6px;
  }
  span {
    font-family: $spacemono;
    font-size: 0.78rem;
  }
  p {
    font-size: 0.8rem;
  }
  svg {
    height: 26px;
  }
  .icon-container {
    margin-top: 6px;
    path {
      fill: white;
    }
    svg {
      margin-left: 6px;
    }
  }
}

@media (max-width: $desktop) {
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  .main {
    &-column {
      .landing {
        margin: 0 10%;
        &-headlines {
        }
        &-info {
          h3 {
            font-size: 1.3rem;
          }
          span {
            font-size: 0.8rem;
          }
          .price {
            span {
              font-size: 1rem;
            }
          }
        }
      }
      .course {
        padding: 60px 40px;
      }
      p {
        font-size: 1.3rem;
      }
    }
  }
  .further {
    img {
      width: 140px;
    }
    &-text {
      padding-left: 12px;
    }
    h2 {
      font-size: 1.5rem;
      max-width: 300px;
    }
    a {
      font-size: 0.85rem;
    }
  }
}

@media (max-width: $tablet) {
  h1 {
    font-size: 3.1rem;
  }
  h2 {
    font-size: 2rem;
  }
  .nav {
    &-menu {
      a {
        font-size: 0.9rem;
        padding-left: 46px;
        &::before {
          width: 18px;
        }
      }
    }
  }
  .main-column {
    width: 55vw;
    &.image {
      width: 45vw;
      background-size: cover;
    }
    .landing {
      margin: 0 8%;
      &-info h3 {
        font-size: 1.2rem;
      }
    }
    p {
      font-size: 1.2rem;
    }
    .course {

      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      ul {
        font-size: 1rem;
        &::before {
          left: -60px;
          font-size: 0.9rem;
        }
      }
      .day {
        padding-left: 34px;
        margin-bottom: 50px;
        &::after {
          left: 14px;
          width: 3px;
        }
      }
    }
  }
  .further {
    &-column {
      padding: 0 24px;
    }
    img {
      width: 100px;
    }
    &-text {
      padding-left: 10px;
    }
    h2 {
      font-size: 1.4rem;
    }
    a {
      font-size: 0.8rem;
    }
  }
  .footer {
    &-logo {
      height: 64px !important;
      margin-right: 24px;
    }
    a {
      font-size: 1.1rem;
    }
  }
}
@media (max-width: $small-tablet) {
  .nav {
    &::before {
      content: none;
    }
    &-menu {
      display: none;
      &-icon {
        display: block;
      }
    }
  }
  .main {
    &-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    &-column {
      width: 100vw;
      &.image {
        width: 100vw;
        position: relative;
        height: 50vh;
        max-height: 420px;
      }
      .landing {
        min-height: auto;
        margin: 0 5%;;
        &-container {
          padding: 4.5rem 0;
        }
      }
    }
  }
  .further {
    margin: 60px 0;
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    &-column {
      width: 100%;
      margin-bottom: 40px;
      padding: 0;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    img {
      width: 100px;
    }
    &-text {
      padding-left: 10px;
    }
    h2 {
      font-size: 1.4rem;
      max-width: none;
    }
    a {
      font-size: 0.8rem;
    }
  }
  .footer {
    &-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    &-column {
      width: 100%;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom:  0;
      }
    }
    &-social {
      text-align: left;
    }
    .icon-container {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      svg:first-child {
        margin: 0;
      }
    }
  }
}

@media (max-width: $phone) {
  h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .nav {
    height: 60px;
    padding: 0 20px;
    &-logo {
      width: 80px;
    }
  }
  .main {
    &-column {
      &.image {
        height: 40vh;
        max-height: 320px;
      }
      .landing {
        margin: 0 28px;
        &-container {
          padding: 40px 0;
        }
      }
      p {
        font-size: 1rem;
      }
      .course {
        padding: 50px 8%;
        h2 {
          font-size: 1.6rem;
          margin-bottom: 30px;
        }
        h3 {
          font-size: 1.4rem;
          line-height: 1;
        }
        ul {
          font-size: 0.9rem;
          &::before {
            left: -46px;
            font-size: 0.8rem;
            top: -40px;
          }
        }
        .day {
          padding-left: 24px;
          &::after {
            width: 2px;
            left: 10px;
          }
        }
      }
    }
  }

  .further {
    padding: 0 6%;
    &-column:last-child {
      margin: 0;
    }
    img {
      width: 80px;
    }
  }
  .footer {
    padding: 40px 8%;
    &-column {
      margin-bottom: 32px;
    }
    &-logo {
      height: 58px !important;
      margin-right: 18px;
    }
    span {
      font-size: 0.7rem;
    }
    &-info {
      span {
        line-height: 1;
      }
      a {
        font-size: 0.9rem;
        margin-bottom: 4px;
      }
      p {
        font-size: 0.7rem;
      }
    }
    svg {
      height: 24px;
    }
  }
}
